<h1>Devices</h1>
<div class="row">
  <table class="table table-hover text-center">
    <thead class="thead-inverse">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Address</th>
        <th class="text-center">Connection Status</th>
        <th class="text-center">Trigger Status</th>
        <th class="text-center">Power Supply</th>
        <th class="text-center">Battery Capacity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices">
        <td class="text-center" scope="row">
          {{ getUser(device.id).name }}
        </td>
        <td class="text-center" scope="row">
          {{ getUser(device.id).address }}
        </td>
        <td>
          <div *ngIf="device.connection; else connectionElseBlock">
            <span class="badge badge-success badge-pill">Online</span>
          </div>
          <ng-template #connectionElseBlock>
            <span class="badge badge-warning badge-pill">Offline</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="device.trigger; else triggerElseBlock">
            <button class="badge badge-danger badge-pill" (click)="triggerOff(device.id)">Triggered</button>
          </div>
          <ng-template #triggerElseBlock>
            <span class="badge badge-success badge-pill">Normal</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="device.power; else powerElseBlock">
            <span class="badge badge-success badge-pill">USB</span>
          </div>
          <ng-template #powerElseBlock>
            <span class="badge badge-warning badge-pill">Battery</span>
          </ng-template>
        </td>
        <td>
          <div *ngIf="device.battery > 100; else batteryElseBlock">
            <span class="badge badge-success badge-pill">100 %</span>
          </div>
          <div *ngIf="device.battery > 50 && device.battery < 101; else batteryElseBlock">
            <span class="badge badge-success badge-pill">{{device.battery}} %</span>
          </div>
          <div *ngIf="device.battery > 20 && device.battery < 51; else batteryElseBlock">
            <span class="badge badge-warning badge-pill">{{device.battery}} %</span>
          </div>
          <div *ngIf="device.battery >= 0 && device.battery < 21; else batteryElseBlock">
            <span class="badge badge-danger badge-pill">{{device.battery}} %</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
