<h2 md-dialog-title>
  Add Device
</h2>
<md-dialog-content>
  <form (ngSubmit)="addDevice()">
    <div class="form-group">
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="Device ID" name="deviceId" [(ngModel)]="deviceId" required>
      </md-input-container>
    </div>
    <button md-raised-button type="submit" color="primary" md-dialog-close>Add Device</button>
    <button md-raised-button md-dialog-close>Cancel</button>
  </form>
</md-dialog-content>
